@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Outfit:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:  'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container {
    max-width: 360px;
    margin: 0 auto;

}
.card {
    background-color:hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
    /* min-height: 70vh; */

}
.card img {
    width: 100%;
    border-radius: 10px;
}
.text {
    padding: 22px 10;
    /* padding-top: 40px ; */
}
.text h2 {
    color:hsl(218, 44%, 22%);
    padding-bottom: 15px;
    padding-top: 15px;
}
.text p {
    color: hsl(220, 15%, 55%);
} 